.title{
    text-align: center;
}

.gameInfoContainer{
    height: 45% !important;
    width: 95%;
}

.gameInfoImage{
    display: inline-block;
    height: 50%;
    max-height: 500px !important;
    max-width: 500px !important;
    width: auto;
    border-radius: 50%;

}

.description{
    
}